[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
selenium = "*"
python-dotenv = "*"
openpyxl = "*"
flask = "*"
waitress = "*"

[requires]
python_version = "3.7"
